<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <link rel="icon" th:href="@{/css/Register.png}">
<title> Register  </title>
<link rel="stylesheet" th:href="@{/css/UserRegistration.css}">
<script type="text/javascript" src="UserRegistration.js"></script>
</head>
<body>
 <div class="form-container">
        <h2>User Registration </h2>
        
         <div th:if="${error != null}" class="message">
        <p class="error-message" th:text="${error}" ></p>
    </div>
        <div th:if="${message != null}" class="message">
        <p class="error-message" th:text="${message}" ></p>
    </div>
      <!-- User Registration Form -->
<form id="register" th:action="@{register}" method="post" th:object= "${employee}" >
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="name" th:file= "*{name}" required>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:file="*{password}" required>
    </div>

    <input type="hidden" name="role"  value="Employee" th:file="*{role}">
    <button type="submit">Sign-Up</button>
</form>

       
    </div>
</body>
</html>